
html {
  height: 100%;
}

body{
   background-image: url("http://media.graytvinc.com/images/wdbj7_generic_ACC-Sports-Logo-640x360-jpg.jpg");
   height: 100%; 
   background-repeat: no-repeat;
   background-size: 100% 100%;
   background-attachment:fixed;
}

.title {
  font-family: 'Montserrat', sans-serif;
  color:#7caeff;
  text-align: center;
}


#shadowTitle{
  -webkit-text-stroke: 2px black;
  text-align:left;
}

#topTeamsList{
  -webkit-text-stroke: 0.5px black;
  color:white;
  font-size:18pt;
}
.carousel-item{
  height:100vh;
}
.spinner-grow{
  width: 80px;
  height:80px;
}

#playerTable{
  display:none;
}
#playersList{
  font-size:18pt;
}

.playerStats{
  background-color:rgba(171, 199, 199, 0.5);
  
  overflow-y:scroll;
  height:100vh;
}

.topTeams{
  /* position:sticky; */
}